<%= content_tag :div, class: container_html_class do %>
  <% if left_section? %>
    <% if left_section_addon? %>
      <span class="inline-flex items-center rounded-l-lg bg-transparent dark:bg-white/5 ring-1 ring-zinc-950/10 dark:ring-white/10 px-3 text-zinc-950 dark:text-white sm:text-sm"><%= left_section %></span>
    <% elsif left_section_interaction? %>
      <%= left_section %>
    <% else %>
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <%= left_section %>
      </div>
    <% end %>
  <% end %>
  <%= tag_klass.new(@object_name, @method_name, @view_context, @options).render %>
  <% if right_section? %>
    <% if right_section_addon? %>
      <span class="inline-flex items-center rounded-r-lg bg-transparent dark:bg-white/5 ring-1 ring-zinc-950/10 dark:ring-white/10 px-3 text-zinc-950 dark:text-white sm:text-sm"><%= right_section %></span>
    <% elsif right_section_interaction? %>
      <%= right_section %>
    <% else %>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
        <%= right_section %>
      </div>
    <% end %>
  <% end %>
<% end %>
