<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-surface text-primary-foreground <%= class_names("dark": params.dig(:lookbook, :display, :theme) == "dark")%>">
    <main class="p-2">
      <%= yield %>
    </main>
  </body>
</html>
